# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
/coverage/

# nyc test coverage
/.nyc_output

# Dependency directories
/node_modules/

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# compiled files
*.js
!/bin/*.js
*.js.map
*.d.ts
!/custom-typings/*.d.ts
!/test/rules/**
!/test/integration/**
!/test/fixtures/**
!/baselines/**
