version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "yarn.lock" }}
            - dependency-cache-
      - run:
          name: Install dependencies
          command: yarn
      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run:
          name: Compile
          command: yarn compile
      - run:
          name: Dependency check
          command: yarn check-dependencies
      - run:
          name: Lint
          command: yarn lint
      - persist_to_workspace:
          root: '.'
          paths:
            - src
            - test
            - yarn.lock
  test:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - attach_workspace:
          at: '.'
      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Test with Coverage
          command: yarn coverage
      - run:
          name: Report code coverage
          command: yarn report-coverage
  test@2.4:
    docker:
      - image: circleci/node:6
    steps:
      - checkout
      - attach_workspace:
          at: '.'
      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install TypeScript@2.4
          command: yarn add typescript@2.4
      - run:
          name: Test
          command: yarn test
  test@next:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - attach_workspace:
          at: '.'
      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install TypeScript@next
          command: yarn add typescript@next
      - run:
          name: Test
          command: yarn test

workflows:
  version: 2
  verify:
    jobs:
      - build
      - test:
          requires:
            - build
      - test@2.4:
          requires:
            - build
      - test@next:
          requires:
            - build
