workflows:
  version: 2
  verify:
    jobs:
      - build
      - test:
          requires:
            - build
      - test@2.4:
          requires:
            - build
      - test@2.6:
          requires:
            - build
      - test@next:
          requires:
            - build

base: &base
  steps:
    - checkout
    - attach_workspace:
        at: '.'
    - restore_cache:
        key: dependency-cache-{{ checksum "yarn.lock" }}
    - run:
        name: Install correct TypeScript version
        command: |
          yarn ${typescriptVersion:+add -D -W typescript@$typescriptVersion}
    - run:
        name: Run Tests
        command: |
          yarn coverage yarn test
          yarn report-coverage

version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10@sha256:ddfaa993994a8e787ba343a34041628f444c84da12af0e4cdeac2dae935f79aa
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "yarn.lock" }}
            - dependency-cache-
      - run:
          name: Install dependencies
          command: yarn
      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run:
          name: Compile
          command: yarn compile
      - run:
          name: Dependency check
          command: yarn check-dependencies
      - run:
          name: Lint
          command: yarn lint
      - persist_to_workspace:
          root: '.'
          paths:
            - "packages/*/index.*"
            - "packages/*/src"
            - "packages/*/test"
            - yarn.lock
  test:
    docker:
      - image: circleci/node:9@sha256:0ec3d7136ab6567ae4c9d13124ae3ae65bd8be3f026e3832836582b313b5ef90
    <<: *base
  test@2.4:
    docker:
      - image: circleci/node:6@sha256:03483ee869c426bf1571886e3d16772d5209bc53f6b5cfb6dfade4076105d6d1
    environment:
      typescriptVersion: 2.4
    <<: *base
  test@2.6:
    docker:
      - image: circleci/node:8@sha256:744c0829877ab7f73473d0553f1df84efc9d50f4cdc1cd256a4b0c271834b40d
    environment:
      typescriptVersion: 2.6
    <<: *base
  test@next:
    docker:
      - image: circleci/node:10@sha256:ddfaa993994a8e787ba343a34041628f444c84da12af0e4cdeac2dae935f79aa
    environment:
      typescriptVersion: next
    <<: *base
